# inventory.ini (Final, Shared)

[ctrl]
ctrl ansible_host=127.0.0.1 ansible_port=2222 ansible_user=vagrant 

[nodes]
node-1 ansible_host=127.0.0.1 ansible_port=2200 ansible_user=vagrant 
node-2 ansible_host=127.0.0.1 ansible_port=2201 ansible_user=vagrant 

[all:vars]
ansible_python_interpreter=/usr/bin/python3